/* Universal Selector */
* {
    margin: 0;
    padding: 0;
}

/* Element Selectors */
body {
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    background-color: antiquewhite;
    color: slategray;
}

header, footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: rgb(62, 99, 62);
    color: antiquewhite;
}

header {
    position: fixed;
    border-bottom: 10px solid rgb(224, 158, 96);
}

footer {
    position:relative;
    bottom:0;
    margin:0;
    border-bottom: 10px solid slategray;
    color: antiquewhite;
}

main {
    padding: 60px;
}

h1, h2 {
    text-align: center;
    margin: 20px;
}

figure {
    margin-bottom: 50px;
}

li {
    display: inline;
    padding: 0 20px;
}

a {
    color: antiquewhite;
    text-decoration: none;
}

img {
    display: block;
    margin: 20px auto;
}

section {
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    border-top: 3px solid rgb(224, 158, 96);

}
   

form {
    margin: 0 auto;
    width: 500px;
    border: 5px solid rgb(224, 158, 96);
    border-radius: 20px;
    padding: 10px;
    background-color:antiquewhite;
}

/* Class Selector */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}